/jinx
/builds
/host-builds
/host-pkgs
/pkgs
/sources
/sysroot
/iso_root
/vinix.iso
/initramfs.tar
/.vscode
/.jinx-cache
/ovmf
*.hdd
*.elf
*.bin
*.a
*.o
vinix-aarch64.iso
*.xml
.DS_Store
boot-image/
/build-aarch64-asahi/
/build-aarch64-runtime/
/build-aarch64-userland/
/build-aarch64-x11/
build-support/init-aarch64/init
build-support/init-aarch64/initramfs.tar
build-support/init-aarch64/initramfs-minimal.tar
/build-aarch64-musl/
/build/
/third_party/
build-support/init-aarch64/initramfs-desktop.tar
kernel/tmp.c
kernel/tmp.v
/build-aarch64-python/
/build-aarch64-ruby/
/.claude/
/deploy-to-m1.sh
